<div class="span8" style="position:relative; left:30%">
                        <div class="image-container bg-color-darken" style="width: 100%">
                            <div style="height: 400px; overflow: hidden"><%= image_tag 'cihad.jpg' %></div>
                            <div class="overlay">
                                <div class="padding10 fg-color-grayDark tertiary-text">Cihad Yildiz, Page Author, 2013 @ IUS</div>
                            </div>
                        </div>
                    </div>