<% if  signed_in? && current_user.admin? %>
<% provide(:title, 'New Phone') %>

<div class="page-region">
 <div class="page-region-content">

  <div class="span6 offset3">

<h1>New phone</h1>

<%= render 'form' %>

<%= link_to raw("<i class=\"icon-arrow-left-3\"></i>"), phones_path %>
</div>
</div>
</div>
<% else %>
<h1>You don't have enough privileges to do that</h1>
<% end %>