   <footer> <div class="page">
    	<div class="nav-bar bg-color-darken">
    		<div class="nav-bar-inner padding10">
    			<span class="element">
    				MobileWrold &copy; by <a class="fg-color-blue" href="mailto:cihadyildiz06@gmail.com">Cihad yıldız</a>
    			</span>
    		</div>
    	</div>
    </div>
</footer>